@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archivo Black";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #111111;
  max-width: 1440px;
  height: 1998px;
}
